<ion-header>
  <ion-toolbar>
    <ion-item class="ion-no-padding" lines="none">
      <ion-title>Information</ion-title>
      <ion-button fill="clear" routerLink="/home">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        Back
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <div *ngIf="info['Image Gallery']; then hasImage else noImage"></div>
  <ng-template #hasImage>
    <div *ngIf="info['Image Gallery']?.length > 0; then manyImage else oneImage"></div>
    <ng-template #manyImage>
      <img alt="{{info['Image Gallery'][0]['alt']}}" src="{{info['Image Gallery'][0]['src']}}"/>
      <ion-grid>
        <ion-row>
          <ion-col size="3" *ngFor="let pic of info['Image Gallery'].slice(1)">
            <img alt="{{pic.alt}}" src="{{pic.src}}"/>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
    </ng-template>
    <ng-template #oneImage>
      <img src="{{info['Image Gallery']['src']}}"/>
    </ng-template>
  </ng-template>
  <ng-template #noImage>
    <img src="../assets/img/noimage.jpg"/>
  </ng-template>
  <ion-list lines="none">
    <ion-item>
      <ion-label>Name:</ion-label>
      {{info['Species Name']}} 
    </ion-item>
    <ion-item>
      <ion-label>Username:</ion-label>
      {{info['Scientific Name']}} 
    </ion-item>
    <ion-item>
      <ion-label>Email Address:</ion-label>
      <div [innerHTML]="info['Location']"></div>
    </ion-item>
    <ion-item>
      <ion-label>Phone Number:</ion-label>
        <div [innerHTML]="info['Biology']"></div>
    </ion-item>
    <ion-item>
      <ion-label>Website URL:</ion-label>
        <div [innerHTML]="info['Physical Description']"></div> 
    </ion-item>
  </ion-list>
</ion-content>
