<ion-header [translucent]="true">
  <ion-toolbar>
      <div id="site-logo">
        <a href="/">NOAA FishWatch.gov</a>
      </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid ion-no-padding>
    <ion-row no-padding>
      <ion-col size="4" *ngFor="let fish of res; index as i" no-padding class="box">
        <ion-card [routerLink]="['/','info',i]" [state]="fish" [queryParams]="fish" class="ion-text-center">
          <div *ngIf="fish['Image Gallery']; then hasImage else noImage"></div>
          <ng-template #hasImage>
            <div *ngIf="fish['Image Gallery']?.length > 0; then manyImage else oneImage"></div>
            <ng-template #manyImage>
              <img alt="{{fish['Image Gallery'][0]['alt']}}" src="{{fish['Image Gallery'][0]['src']}}"/>
            </ng-template>
            <ng-template #oneImage>
              <img alt="{{fish['Image Gallery']['alt']}}" src="{{fish['Image Gallery']['src']}}"/>
            </ng-template>
          </ng-template>
          <ng-template #noImage>
            <img alt="No Image Available" src="../assets/img/noimage.jpg"/>
          </ng-template>

          <ion-card-header>
            <ion-card-title>{{fish['Species Name']}}</ion-card-title>
            <ion-card-subtitle>{{fish['Species Name']}}</ion-card-subtitle>
            <span [innerHTML]="fish['Species Aliases']"></span>
            
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>




